@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
  padding: 0;
  margin: 0;
  height: 98%;
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto 60px auto;
}
nav {
  margin: 10px auto 40px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav a:hover {
  color: rgb(0, 140, 255);
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  width: 100%;
  background: #4979ff;
  text-align: center;
  padding: 10px 0;
  color: #fff;
  border-top: 1px solid #eaeaea;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.not-found {
  text-align: center;
}
.not-found a{
  color: #4979ff;
  text-decoration: underline;
}