.title {
  color: #333;
  padding-bottom: 10px;
  text-align: center;
}
.subtitle {
  margin: 8px;
  text-align: center;
}
.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box_item {
  min-width: 240px;
  padding: 12px;
  background: #fff;
  display: block;
  margin: 10px;
  border-left: 8px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 6px #00000024;
  transition: 0.1s linear;
}
.box_item:hover {
  border-left: 8px solid #4979ff;
  cursor: pointer;
  transition: 0.1s linear;
}
.ninja_name {
  font-size: 18px;
  margin: 0 0 8px;
}
.ninja_info {
  margin: 0;
  font-size: 14px;
}

.tag {
  background: #fff;
  padding: 10px;
}
.avatar {
  border-radius: 50%;
}
.single_box {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  background: #fff;
  padding: 20px;
}
.single_box > div:first-child {
  margin-top: 20px;
}
.single {
  min-width: 300px;
}
.single a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #4979ff;
}

.single_name {
  margin: 10px 0;
}
.single p {
  margin: 0;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 8px;
  background: #4979ff;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 4px 0px #000000a3;
  transition: 0.1s all;
}
.back_btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 8px auto;
  background: #4979ff;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 4px 0px #000000a3;
  transition: 0.1s all;
}
.btn:hover, .back_btn:hover {
  filter: hue-rotate(90deg);
  transition: 0.1s all;
}